venv
.venv
.git
.github
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
*.sqlite3
db.sqlite3
.env
media
staticfiles
*.md
!README.md
.idea
.vscode
terminals
